@model SMO.Service.PS.ContractService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
    var editable = false;
    var project = SMOUtilities.GetProject(Model.ObjDetail.PROJECT_ID);
    var statusProjectEditable = project.STATUS_STRUCT_PLAN == ProjectStructureProgressStatus.PHE_DUYET.GetValue();

    if (AuthorizeUtilities.CheckUserRightProject("RP4.1", Model.ObjDetail.PROJECT_ID))
    {
        editable = true;
    }
    if (project.STATUS == "04" || project.STATUS == "05")
    {
        editable = false;
    }
}
<div id='@Model.ViewId'>
    @using (Ajax.BeginForm("ListVendor", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        @Html.HiddenFor(m => m.ObjDetail.PROJECT_ID)
        @Html.HiddenFor(m => m.ObjDetail.IS_SIGN_WITH_CUSTOMER)
        <input type="hidden" name="modulName" value="@ViewBag.ModulName" />
        <div class="card">
            <div class="body" style="padding-top: 0px;">
                <div class="tab-content">
                    <div class="page-function p-b-10  p-t-10">
                        <div class="page-function-button m-r-20" style="float:left">
                            @Html.MyButton("cmdHome", "Thông tin dự án", string.Format("$(\"#li-general-infomation-edit a\").click();"), "Alt+N", "arrow_back")
                            @if (editable && project.STATUS_STRUCT_PLAN == ProjectStructureProgressStatus.PHE_DUYET.GetValue())
                            {
                                @Html.MyButton("cmdAdd", "Thêm mới hợp đồng", string.Format("Forms.LoadAjax('{0}');", @Url.Action("Create", new { projectId = Model.ObjDetail.PROJECT_ID, isCustomer = "0" })), "Alt+N", "style")
                                @Html.MyButton("cmdDelete", "Xóa hợp đồng", string.Format("Forms.DeleteItems('{0}','chkItem');", @Url.Action("Delete")), "Alt+D", "delete")
                            }
                        </div>
                        <div class="input-group page-function-search">
                            <div class="form-line">
                                @Html.MyTextBoxFor(m => m.ObjDetail.NAME, new { placeholder = "Tìm theo tên|Tên ngắn gọn|Số HĐ|PO|SO", @class = "align-center", @data_val = false })
                            </div>
                            <span class="input-group-addon" title="Tìm kiếm" onclick="Forms.SubmitForm('@Model.FormId')">
                                <i class="material-icons">search</i>
                            </span>
                            <span class="input-group-addon" title="Tìm theo các chỉ tiêu khác" id="spShowMore" onclick="$('#@Model.FormId #spHideMore').toggle(); $(this).toggle(); $('#@Model.FormId .page-search-advance').toggle();">
                                <i class="material-icons">expand_more</i>
                            </span>
                            <span class="input-group-addon" title="Ẩn các chỉ tiêu tìm kiếm khác" style="display:none;" id="spHideMore" onclick="$('#@Model.FormId #spShowMore').toggle(); $(this).toggle(); $('#@Model.FormId .page-search-advance').toggle();">
                                <i class="material-icons">expand_less</i>
                            </span>
                            <span class="input-group-addon" title="Làm mới ô tìm kiếm" onclick="Forms.ResetForm('@Model.FormId')">
                                <i class="material-icons">refresh</i>
                            </span>
                        </div>
                    </div>

                    <div class="page-search-advance row m-l-0 m-r-0 m-b-10" style="display:none;">
                        <div class="col-md-3 col-xs-12">
                            <label>Nhà thầu</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyDropDownListFor(m => m.ObjDetail.VENDOR_CODE, SelectListUtilities.GetVendors(Model.ObjDetail.PROJECT_ID),
                                   new { @data_live_search = "true", @class = "selectpicker show-tick" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <label>Loại hợp đồng</label>
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyDropDownListFor(m => m.ObjDetail.CONTRACT_TYPE, SelectListUtilities.GetContractTypes(false),
                                   new { @data_live_search = "true", @class = "selectpicker show-tick" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="divResult">

                    </div>
                </div>
            </div>
        </div>
    }

    <script type="text/javascript">
        function SubmitIndexContractVendor() {
            Forms.SubmitForm('@Model.FormId');
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
    </script>
</div>
