@using Newtonsoft.Json;

@{
    var viewId = Guid.NewGuid().ToString();
    var projectId = ViewBag.ProjectId;
    var currentUser = ViewBag.CurrentUser;

    var units = SelectListUtilities.GetPsUnits();
    var currencys = SelectListUtilities.GetPsCurrencys();
    var boqs = SelectListUtilities.GetBoqInProject(projectId, isAddBlank: false);
    var activity_wbs = SelectListUtilities.GetActivityWbsInProject(projectId);
    var boqCodes = SelectListUtilities.GetBoqCodeInProject(projectId);
    var statuses = SelectListUtilities.GetProjectStructStatus(isAddBlank: false);
    var project = SMOUtilities.GetProject(projectId);
    var lstVersion = SelectListUtilities.GetVersionStructCost(projectId);
    var editable = false;

    if (AuthorizeUtilities.CheckUserRightProject("RP2.2", projectId))
    {
        editable = true;
    }
    if (project.STATUS == "04" || project.STATUS == "05")
    {
        editable = false;
    }
}
<style>
    .fade-struct {
        position: relative;
        animation: fadeInBottom 1.8s;
        animation-timing-function: ease;
    }

    @@keyframes fadeInBottom {
        from {
            opacity: 0;
        }
        to {
            opacity: 1
        }
    }
</style>

<div id="@viewId" class="fade-struct">
    <link href="/Theme/plugins/select2/select2.min.css" rel="stylesheet" />
    <script src="/Theme/plugins/select2/select2.min.js"></script>
    <style>
        .gantt_last_cell {
            overflow: inherit !important;
        }

        .bg-gantt-green {
            background-color: #BEE4BE !important;
        }

        .checked_label .material-icons {
            position: relative;
            top: 6px;
            right: 2px;
            color: rgba(0,0,0,0.54);
        }

            .checked_label .material-icons.icon_color {
                color: #0288D1;
            }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }

        .dropdown .dropdown-toggle {
            background: none !important;
        }

        .gantt-menu-item .bootstrap-select {
            width: 100px !important;
        }
    </style>
    <link href="~/Content/gantt-chart.css" rel="stylesheet" />
    <link href="~/Properties/dhtmlx-gantt/codebase/dhtmlxgantt.min.css?v=7.1.7"
          rel="stylesheet" type="text/css" />
    @*<script src="~/Properties/dhtmlx-gantt/codebase/dhtmlxgantt.min.js?v=7.1.7"></script>*@
    <script src="~/Scripts/GanttChart/dhtmlxgantt.js?v=7.1.8"></script>
    <script type="text/javascript" src="~/Scripts/GanttChart/nav_menu.js?v=7.1.7"></script>
    <script type="text/javascript" src="~/Scripts/GanttChart/zoom.js?v=7.1.7"></script>

    <div class="gantt-demo-header">
        <ul class="gantt-controls">
            <li class="gantt-menu-item">
                <a data-action="collapseAll">
                    <span class="material-icons">keyboard_arrow_up</span>Thu gọn
                </a>
            </li>
            <li class="gantt-menu-item gantt-menu-item-last">
                <a data-action="expandAll">
                    <span class="material-icons">keyboard_arrow_down</span>Mở rộng
                </a>
            </li>
            <li class="gantt-menu-item gantt-menu-item-last">
                <div class="form-group" style="width: 350px; margin:0;">
                    <div class="form-line">
                        <input name="structureName" id="structure-name" class="form-control" placeholder="Tìm kiếm theo tên hạng mục" />
                    </div>
                </div>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a data-action="fullscreen" title="Toàn màn hình">
                    <span class="material-icons">zoom_out_map</span>
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a style="float:left" title="Xuất dữ liệu cây cấu trúc" href="@Url.Action("ExportExcelDataStructDraft", "Project", new {@area="PS", projectId=projectId})" target="_blank">
                    <img src="Theme/images/excel.png" height="22" width="22" />
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a style="float:left" title="Upload cây cấu trúc từ file excel" onclick="UploadDataDraft();">
                    <span class="material-icons">publish</span>
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a title="Lưu version" onclick="ChangeStatusDraft('01')">
                    <span class="material-icons">send</span> Trình duyệt
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a title="Lưu version" onclick="ChangeStatusDraft('03')">
                    <span class="material-icons">close</span> Từ chối
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a title="Lưu version" onclick="ChangeStatusDraft('02')">
                    <span class="material-icons">done_all</span> Xác nhận
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right" style="margin: 4px 0; width: 100px;">
                <select name="" data-val="true"
                        class="selectpicker show-tick dropdown" style="margin: 4px 0; width: 100px;" onchange="onChangeVersion(this.value);">
                    @foreach (var item in lstVersion)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </li>

            @if (editable)
            {
                <li class="gantt-menu-item gantt-menu-item-right" id="enable-edit">
                    <a title="Bật chế độ chỉnh sửa" onclick="enableEdit();">
                        <span class="material-icons">edit</span>
                    </a>
                </li>
            }

            <li class="gantt-menu-item gantt-menu-item-right" style="display:none" id="disable-edit">
                <a title="Bật chế độ chỉ xem" onclick="disableEdit();">
                    <span class="material-icons">visibility</span>
                </a>
            </li>

            <li class="gantt-menu-item gantt-menu-item-right">
                <a title="Thông tin dự án" onclick="$('#close-struct').click();">
                    <span class="material-icons">arrow_back</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <div id="gantt-chart" style="width: 100%; height: calc(100vh - 200px);"></div>
    </div>

    <script type="text/template" id="tmplUnit">
        <select class="selectUnit">
            @foreach (var item in units)
            {
                <option value="@item.Value">@item.Value - @item.Text</option>
            }
        </select>
    </script>

    <script type="text/template" id="tmplCurrency">
        <select class="selectCurrency">
            @foreach (var item in currencys)
            {
                <option value="@item.Value">@item.Value - @item.Text</option>
            }
        </select>
    </script>

    @{
        Html.RenderPartial("~/Areas/GC/Views/Shared/CustomForm.cshtml");
    }

<script>
    /* Functions */
    function refreshData(taskId) {
        gantt.load("/api/DataDraft/GetGanttChartData?projectId=@projectId", function () {
            if (taskId) {
                updateTaskTotalInDb(taskId)
            }
        });
    };

    function updIcon(el) {
        var iconEl = el.parentElement.querySelector("i"),
            checked = "check_box",
            unchecked = "check_box_outline_blank",
            className = "icon_color";
        iconEl.textContent = iconEl.textContent == checked ? unchecked : checked;
        iconEl.classList.toggle(className);
    };

    function updateTasksTotalSilent(taskId) {
        gantt.silent(() => {
            updateTasksTotal();
        });
        gantt.render();
        updateTaskTotalInDb(taskId)
    };

    function updateTaskTotalInDb(taskId) {
        const currentTask = gantt.getTask(taskId)
        const data = [{ id: taskId, total: currentTask?.total }]
        let parentId = currentTask?.parent
        while (parentId) {
            const parentTask = gantt.getTask(parentId)
            data.push({ id: parentTask?.id, total: parentTask?.total, projectId: gantt.projectId })
            parentId = parentTask?.parent
        }
        const server = "api";
        const entity = "taskDraft";
        const ajaxParams = {
            url: `${server}/${entity}/UpdateTasksTotal`,
            type: "POST",
            data
        }
        Forms.AjaxWithoutLoading(ajaxParams)
    }

    function updateTasksTotal() {
        const ganttData = _.reverse(gantt.json.serialize().data);
        gantt.batchUpdate(() => {
            $.each(ganttData, (_index, row) => {
                const { quantity, price, id } = row || {};
                if (!(quantity && price)) {
                    const children = gantt.getTaskBy(task => task.parent == id);
                    const total = _.chain(children)
                        .map(({ quantity, price, total }) => {
                            const calculateTotal = roundNumber(quantity * price);
                            return calculateTotal > 0 ? calculateTotal : Number(total);
                        })
                        .sum()
                        .value();
                    gantt.updateTask(id, { total });
                } else {
                    gantt.updateTask(id, { total: roundNumber(quantity * price) ?? 0 });
                }
            });
        }, true);
    }

    function updateTasksOrder() {
        const taskIds = _.map(gantt.json.serialize().data, "id");
        const server = "api";
        const entity = "taskDraft";
        const data = { "taskIds": taskIds, projectId: gantt.projectId }
        const ajaxParams = {
            url: `${server}/${entity}/UpdateOrder`,
            type: "POST",
            data
        }
        Forms.AjaxWithoutLoading(ajaxParams)
    }

    function UpdateProjectSAP() {
        Forms.Ajax({
            url: 'PS/Project/SyncProjectToSAP',
            type: "POST",
            data: { projectId: "@projectId" },
            dataType: "json",
            success: function (response) {
                Message.execute(response);
            }
        });
    }

    function UpdateProjectSAPandClose() {
        Forms.Ajax({
            url: 'PS/Project/UpdateProjectSAP',
            type: "POST",
            data: { projectId: "@projectId" },
            dataType: "json",
            success: function (response) {
                Message.execute(response);
                clearInterval(timeInterval);
            }
        });
    }

    function changeDate() {
        var selectedTasks = gantt.getTaskBy("selected", true) || [];
        if (selectedTasks.length === 0) {
            return Swal.fire(
                'Chưa chọn hạng mục?',
                'Phải chọn ít nhất 1 hạng mục công việc để thay đổi ngày',
                'question'
            );
        }
        Swal.fire({
            title: 'Thay đổi thời gian hạng mục!',
            text: "Chọn từ ngày hoặc đến ngày để thay đổi thời gian của 1 hạng mục công việc",
            icon: 'warning',
            html: '<div class="col-md-12">' +
                '<div class= "row">' +
                '<div class="col-md-6">' +
                '<label>Từ ngày</label>' +
                '<input class="form-control datepicker" id="startDate" />' +
                '</div>' +
                '<div class="col-md-6">' +
                '<label>Đến ngày</label>' +
                '<input class="form-control datepicker" id="toDate" />' +
                '</div>' +
                '</div>' +
                '</div > ',
            preConfirm: function () {
                return new Promise((resolve, reject) => {
                    resolve({
                        fromDate: $("#startDate").val(),
                        toDate: $("#toDate").val(),
                    });
                });
            },
            didOpen: function () {
                Forms.CompleteUI();
            },
            showCancelButton: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            confirmButtonColor: '#207ce5',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Huỷ',
            confirmButtonText: 'Thay đổi',
        }).then((result) => {
            if (result.isConfirmed) {
                console.log(result)
                const ajaxParams = {
                    url: `PS/ProjectStruct/UpdateDate`,
                    type: "POST",
                    data: {
                        structuresId: selectedTasks.map(x => x.id),
                        projectId: selectedTasks[0].projectId,
                        fromDate: result.value.fromDate,
                        toDate: result.value.toDate,
                    },
                    dataType: 'json',
                    success: function (response) {
                        Message.execute(response);
                        refreshGC();
                    }
                };
                Forms.Ajax(ajaxParams)
            }
        })
    }

    function SaveVersion() {
        Swal.fire({
            title: 'Lưu version?',
            text: "Bạn có chắc chắn muốn lưu lại version của cây cấu trúc?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Lưu',
            cancelButtonText: 'Huỷ'
        }).then((result) => {
            if (result.isConfirmed) {
                var ajaxParams = {
                    url: 'PS/ProjectStruct/SaveVersionStructCost',
                    type: "POST",
                    data: { projectId: '@projectId' },
                    dataType: 'json',
                    success: function (response) {
                        Message.execute(response);
                        onClickTree();
                    }
                };
                Forms.Ajax(ajaxParams);
            }
        })
    }

    function onChangeVersion(value) {
        gantt.clearAll();
        if (value == 0) {
            refreshGC();
        } else {
            gantt.load(`/api/Data/GetGanttChartDataVersion?projectId=@projectId&isCostStructure=true&version=${value}`)
        }
    }

    function enableEdit() {
        $("#disable-edit").show();
        $("#enable-edit").hide();
        gantt.config.readonly = false;
    }

    function disableEdit() {
        $("#disable-edit").hide();
        $("#enable-edit").show();
        gantt.config.readonly = true;
    }

    function ChangeStatusDraft(status) {
        Swal.fire({
            title: status == '01' ? "Trình duyệt?" : status == '02' ? "Xác nhận?" : "Từ chối?",
            text: status == '01' ? "Bạn có chắc chắn muốn trình duyệt dữ liệu này?" : status == '02' ? "Bạn có chắc chắn muốn xác nhận dữ liệu này?" : "Bạn có chắc chắn muốn từ chối dữ liệu này?",
            icon: "question",
            input: 'text',
            inputPlaceholder: 'Ý kiến',
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Xác nhận",
            cancelButtonText: "Huỷ"
        }).then((result) => {
            if (result.isConfirmed) {
                console.log(result.value)
                onClickTree2();
            }
        });
    }

    function UploadDataDraft() {
        var ajaxParams = {
            url: 'PS/Project/ViewUploadDataDraft',
            type: "POST",
            data: { projectId: '@projectId' },
        };
        Forms.LoadAjaxModal(ajaxParams);
    }

    /* Config Gantt */

    $('.masked-input-date').inputmask('dd/mm/yyyy', { placeholder: '__/__/____' });

    autosize($('.autosize'));

    gantt.load("/api/DataDraft/GetGanttChartData?projectId=@projectId");

    $('#@viewId ul.gantt-controls .showTimeline').on('change', function () {
        if (this.value === 'showTimeline') {
            gantt.config.show_chart = !gantt.config.show_chart;
            gantt.render()
        }
        updIcon(this);
    })
    $('#@viewId input#structure-name').on('change', function () {
        gantt.render()
    })

    gantt.attachEvent("onBeforeRowDragEnd", function (id) {
        const task = gantt.getTask(id);
        const parent = task.parent
        if (parent === 0) {
            return false;
        }
        const parentTask = gantt.getTask(parent);
        if (_.isNil(task) || _.isNil(parentTask)) {
            return false;
        }
        const parentType = parentTask.type;
        if (task.type === "BOQ") {
            return parentType === "BOQ" || parentType === "PROJECT";
        }
        if (task.type === "WBS") {
            return parentType === "WBS" || parentType === "PROJECT";
        }
        if (task.type === "ACTIVITY") {
            return parentType === "WBS";
        }
        return false;
    });

    gantt.config.show_chart = false;
    gantt.config.drag_links = false;
    gantt.config.order_branch = true;
    gantt.config.order_branch_free = true;
    gantt.config.keyboard_navigation_cells = true;

    const units = @Html.Raw(JsonConvert.SerializeObject(units));
    const currencys = @Html.Raw(JsonConvert.SerializeObject(currencys));

    gantt.serverList("unit", _.map(units, ({ Value, Text }) => ({ key: Value, label: Text })));
    gantt.serverList("currency", _.map(currencys, ({ Value, Text }) => ({ key: Value, label: Text })));

    gantt.attachEvent("onBeforeTaskDisplay", function (id, task) {
        const filterStructureNameValue = $('#@viewId #structure-name').val();
        if (filterStructureNameValue) {
            return task.text.toLowerCase().includes(filterStructureNameValue.toLowerCase())
        }
        return true;
    })

    gantt.plugins({
        tooltip: false,
        fullscreen: true,
        marker: true,
        undo: true
    });
    const formatFunc = gantt.date.date_to_str("%d/%m/%Y");

    const id = gantt.addMarker({
        start_date: new Date(),
        text: "Today",
        title: formatFunc(new Date())
    });
    setInterval(function () {
        const today = gantt.getMarker(id);
        if (today) {

            today.start_date = new Date();
            today.title = formatFunc(today.start_date);
            gantt.updateMarker(id);
        }
    }, 1000 * 60);
    gantt.plugins({
        keyboard_navigation: true
    });
    gantt.config.keyboard_navigation = true;
    gantt.config.keyboard_navigation_cells = true;

    gantt.config.readonly = true;

    gantt.init("gantt-chart");

    gantt.projectId = "@projectId";
    gantt.projectCode = "@project.CODE";
    gantt.user = '@(ProfileUtilities.User?.USER_NAME)';

        gantt.structType = "COST";

    const router = function (entity, action, data, id) {
        data.projectId = '@projectId';
        data.user = '@(ProfileUtilities.User?.USER_NAME)';
        const server = "api";
        if (entity === 'link') {
            showMessage('warning', 'Cannot update link');
        }
        if (!isNaN(id)) {
            return;
        }
        return gantt.ajax.post(
            server + '/' + "taskDraft" + '/' + id,
            data
        ).then(function (response) {
            var res = JSON.parse(response.responseText);
            if (res && res.status === 'success') {
                // response is ok
                showMessage('infor', `Update ${entity} successful!`);
                if (res.executeMethod) {
                    Message.func.ExecuteFunctionByName(res.executeMethod, window);
                }
                updateTasksTotalSilent(id);
            } else if (res && res.status === 'error') {
                alert(res.message);
            } else {
                alert('error', 'Something went wrong!');
            }
        });
    };
    const dp = gantt.createDataProcessor(router);

    gantt.attachEvent("onBeforeGanttRender", function () {
        gantt.silent(() => {
            updateTasksTotal();
        });
    });
    dp.init(gantt);
    ganttModules.menu.setup();

</script>
    <script src="~/Scripts/GanttChart/config_gantt_chart_draft.js?v=4" type="text/javascript"></script>
</div>
