@model SMO.Service.PS.ProjectSlDtService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<div id="@Model.ViewId">
    @using (Ajax.BeginForm("Edit", null, FormDataUtils.GetAjaxOptions(Model.ViewId), new { @id = Model.FormId }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.FormId)
        @Html.HiddenFor(m => m.ViewId)
        @Html.HiddenFor(m => m.ObjDetail.PROJECT_ID)
        <div class="card">
            <div class="body" style="padding-top: 0px;">
                <div class="tab-content">
                    <div class="page-function p-b-10">
                        <div class="page-function-button m-r-20" style="float:left">
                            @Html.MyButton("cmdSave", "Lưu lại", $"Forms.SubmitForm('{Model.FormId}');", "Alt+N", "done_all")
                        </div>
                    </div>

                    <div id="divResult">

                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        function SubmitIndex() {
            Forms.SubmitForm('@Model.FormId');
        }

        $(function () {
            Forms.SubmitForm('@Model.FormId');
            Forms.CompleteUI();
            Forms.SubmitByEnter("@Model.FormId");
        });
        </script>
    }
</div>
