@model SMO.Service.PS.ProjectService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    var project = Model.ObjDetail;
    var editable = false;
    if (AuthorizeUtilities.CheckUserRightProject("RP2.2", project.ID))
    {
        editable = true;
    }
    var statusStructure = project.STATUS_STRUCT_PLAN.GetEnum<ProjectStructureProgressStatus>().GetName().ToUpper();
    var statusProject = project.STATUS.GetEnum<ProjectStatus>().GetName().ToUpper();
}

<div id='@Model.ViewId' class="container-fluid child-content">
    <script type="text/javascript">
        var editable = "@editable";
    </script>
    <div class="p-l-20 p-t-10">
        <div class="title-header"> <i class="material-icons">content_copy</i> <span class="title-name"><b>@project.CODE - @project.NAME.ToUpper() - CẤU TRÚC DỰ ÁN</b></span> </div>
        <div class="title-close" id="close-struct" title="Đóng màn hình" onclick="Forms.Close('@Model.ViewId');Forms.CloseGanttDetailRightContent(); goToGeneralInformationTab();"><i class="material-icons">close</i></div>
    </div>
    <div class="card">
        <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" id="li-tree-boq"><a href="#structure-tree-boq" data-toggle="tab" onclick="onClickTreeBoq();">CÂY CẤU TRÚC BOQ</a></li>
                <li role="presentation" id="li-tree-cost"><a href="#structure-tree" onclick="onClickTree();" data-toggle="tab">CÂY CẤU TRÚC CHI PHÍ</a></li>
                <li id="li-structure-status" style="float: right"><strong>TRẠNG THÁI: @statusProject</strong> </li>
            </ul>
            <div class="tab-content p-t-10">
                <div role="tabpanel" class="tab-pane fade" id="structure-tree-boq">
                </div>
                <div role="tabpanel" class="tab-pane fade" id="structure-tree">
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                Forms.CompleteUI();
                var moduleName = "@ViewBag.ModulName";
                if (moduleName == "CauTrucChiPhi") {
                    $("#@Model.ViewId #li-tree-cost a").click();
                } else {
                    $("#@Model.ViewId #li-tree-boq a").click();
                }
            });

            function onClickTree() {
                emptyTab();
                setTimeout(() => {
                    Forms.LoadAjax({
                        url: '@Url.Action("Index", "../GC/GanttChart",new { projectId = Model.ObjDetail.ID })',
                        htmlTarget: '#@Model.ViewId #structure-tree',
                    });
                }, 50)

            }
            function onClickTreeBoq() {
                emptyTab();
                setTimeout(() => {

                    Forms.LoadAjax({
                        url: '@Url.Action("IndexBoq", "../GC/GanttChart",new { projectId = Model.ObjDetail.ID })',
                        htmlTarget: '#@Model.ViewId #structure-tree-boq',
                    });
                }, 50)

            }

            function emptyTab() {
                $('#@Model.ViewId #structure-tree').html("");
                $('#@Model.ViewId #structure-tree-boq').html("");

            }
        </script>
    </div>
</div>

