
@model SMO.Service.PS.ProjectWorkflowService
@{
    var number = 0;
}
@if (Model.ObjList.Count > 50)
{
    Html.RenderPartial("Paging", Model);
}
<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered">
        <thead>
            <tr>
                <th width="20px" class="align-center">
                    <input type="checkbox" id="chkAll" onclick="Forms.CheckAll();" style="margin:0;" class="filled-in" />
                    <label for="chkAll"></label>
                </th>
                <th>STT</th>
                <th>Mã quy trình</th>
                <th>Tên quy trình</th>
                <th>Loại quy trình</th>
                <th>Cấp dự án</th>
                <th>GTHD NCC/TP</th>
                <th>Loại mua hàng</th>
                <th>Uỷ quyền</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList)
            {
                number++;
                var chkActive = "chkActive" + number.ToString();
                var chkInActive = "chkInActive" + number.ToString();
                var vdbclickAction = "";
                if (AuthorizeUtilities.CheckUserRight("R2.8.2"))
                {
                    vdbclickAction = string.Format("Forms.LoadAjax('{0}', this);", Url.Action("Edit", new { id = item.CODE }));
                }
                <tr>
                    <td>
                        <input type="checkbox" class="filled-in chkItem" name="chkItem" id="@("chkItem" + item.CODE)" modelId="@item.CODE" style="margin:0;" />
                        <label for="@("chkItem" + item.CODE)"></label>
                    </td>
                    <td ondblclick="@vdbclickAction">@number</td>
                    <td ondblclick="@vdbclickAction">
                        <a href="#" onclick="@vdbclickAction">@item.CODE</a>
                    </td>
                    <td ondblclick="@vdbclickAction">@item.NAME</td>
                    <td ondblclick="@vdbclickAction">@(item.RequestType?.NAME)</td>
                    <td ondblclick="@vdbclickAction">@(item.ProjectLevel?.NAME)</td>
                    <td ondblclick="@vdbclickAction">@item.CONTRACT_VALUE_MIN.ToStringVN() - @item.CONTRACT_VALUE_MAX.ToStringVN()</td>
                    <td ondblclick="@vdbclickAction">@(item.PurchaseType?.NAME)</td>
                    <td ondblclick="@vdbclickAction">@(item.AUTHORITY ? "Có" : "Không")</td>
                    <td ondblclick="@vdbclickAction">@(item.ACTIVE ? "Active" : "Inactive")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }


