@model SMO.Service.MD.ContractService
@{ 
    var frmFormCode = "frmContractIndex";
}
@if (Model.ObjList.Count > 50)
{
    Html.RenderPartial("Paging", Model);
}
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Mã khách hàng</th>
                <th>Mã hợp đồng</th>
                <th>Loại hợp đồng</th>
                <th>DC code</th>
                <th>Division code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObjList.OrderBy(x => x.CUSTOMER_CODE))
            {
                <tr>
                    <td>@item.CUSTOMER_CODE</td>
                    <td>@item.CODE</td>
                    <td>@item.CONTRACT_TYPE</td>
                    <td>@item.DC_CODE</td>
                    <td>@item.DIVISION_CODE</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@{ Html.RenderPartial("Paging", Model); }
