
@model SMO.Service.MD.WorkflowService
@{
    Model.ViewId = Guid.NewGuid().ToString();
    Model.FormId = Guid.NewGuid().ToString();
}
<style>
    .card-shadow {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .col-md-1, .col-md-2, .col-md-5 {
        margin-bottom: 12px !important;
    }

    td {
        border: none !important;
    }
</style>
<div id='@Model.ViewId' class="container-fluid child-content">

    <div class="card">
        <div class="body" style="padding-top: 0px;">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a style="padding-left:0px"><i class="material-icons">clear_all</i> TẠO MỚI TEMPLATE WORKFLOW</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="page-function p-t-10">
                    <div class="page-function-button m-r-20">
                        @Html.MyButton("cmdBack", "Quay lại", string.Format("Forms.Close('{0}');", @Model.ViewId), "Alt+N", "arrow_back")
                        @Html.MyButton("cmdSave", "Lưu lại", string.Format("Forms.SubmitForm('{0}');", @Model.FormId), "Alt+N", "done_all")
                    </div>
                </div>

                <div class="col-md-12 card-shadow" style="padding-top: 22px;">
                    <div class="row">
                        <div class="col-md-1">
                            <label>Trạng thái</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Loại đề nghị</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>

                        <div class="col-md-1">
                            <label>Mã quy trình</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Tên quy trình</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>

                        <div class="col-md-1">
                            <label>Cấp dự án</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Giá trị HĐ(min)</label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Giá trị HĐ(max)</label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>

                        <div class="col-md-1">
                            <label>Loại mua hàng</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                        <div class="col-md-1">
                            <label>Ủy quyền</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-line">
                                    @Html.MyTextBoxFor(m => m.ObjDetail.CODE)
                                </div>
                                @Html.ValidationMessageFor(m => m.ObjDetail.CODE)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 card-shadow" style="padding-top:12px">
                    <table class="table table-workflow-step">
                        <tbody class="single-step-workflow">
                            
                        </tbody>
                    </table>
                    <div style="display:flex; justify-content:center;padding-bottom:12px">
                        <button type="button" class="btn btn-default" onclick="addStep()"><i class="material-icons">add</i> Thêm bước</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            Forms.CompleteUI();
        });
        var number = 0;

        function addStep() {
            if ($(".single-step-workflow tr").length == 0) {
                number = 0;
            }
            number += 1;
            $(".single-step-workflow").append(
                `<tr>` +
                `<td><label>Bước ${number}</label></td>` +
                `<td>` +
                `<div class="form-group">` +
                `<div class="form-line">` +
                `<input class="form-control" />` +
                `</div>` +
                `</div>` +
                `</td>` +
                `<td><label>Vai trò xử lý</label></td>` +
                `<td>` +
                `<div class="form-group">` +
                `<div class="form-line">` +
                `<input class="form-control" />` +
                `</div>` +
                `</div>` +
                `</td>` +
                `<td><label>Người xử lý (user)</label></td>` +
                `<td>` +
                `<div class="form-group">` +
                `<div class="form-line">` +
                `<input class="form-control" />` +
                `</div>` +
                `</div>` +
                `</td >` +
                `<td><label>Hạn xử lý (ngày)</label></td>` +
                `<td>` +
                `<div class="form-group">` +
                `<div class="form-line">` +
                `<input class="form-control" />` +
                `</div>` +
                `</div>` +
                `</td>` +
                `<td><label>Hành động</label></td>` +
                `<td>` +
                `<div class="form-group">` +
                `<div class="form-line">` +
                `<input class="form-control" />` +
                `</div>` +
                `</div>` +
                `</td>` +
                `<td style="width:22px; cursor:pointer" onclick="$(this).parent().remove();"><i class="material-icons">delete</i></td>` +
                `</tr>`)
        };
    </script>
</div>

